<div class="contents-row">
    <div class="success">
      <h3>
        <strong>更新が完了しました。</strong>
      </h3>
      <a class="uk-button uk-button-primary uk-button-large" href="/">投稿一覧へ戻る</a>
    </div>
  </div>