body, html {
    margin: 0;
    padding: 0;
}
.uk-container {
    height: 100%;
    width: 750px;
    position: relative;
    margin: 2em auto;
    padding: 1em;
    width: 90%;
    color: #666666; 
    border: 2px solid #996633; 
    background-color: #fff;
    box-shadow: -2px 5px 5px #e8d3c7;
    border-radius: 20px;
    &__header {
        width: 70%;
        display: inline-block;
        &__title {
            text-align: center;
        }
    }
    &__comment {
        font-size: 20px;
        max-width: 45%;
        height: auto;
        float: right;
        position: absolute;
        right: 55px;
        top: 85px;
        word-wrap: break-word;
        &__user {
            position: absolute;
            top: 100px;
            right: 0;
            bottom: 0;
        }
    }
    &__image {
        position: relative;
        width: 50%;
        height: auto;
        margin: 0;
    }
    &__cost {
        font-size: 20px;
        width: 30%;
        height: auto;
        float: right;
        position: absolute;
        top: 250px;
        right: 40px;
    }
    &__material {
        font-size: 20px;
        width: 30%;
        height: auto;
        float: right;
        position: absolute;
        top: 400px;
        right: 40px;
    }
}

